<h1><%= t('templates.index.title') %></h1>

<table id="tbl_templates" class="table table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th><%= t('templates.index.name') %></th>
      <th><%= t('templates.index.description') %></th>
      <th><%= t('templates.index.content') %></th>
      <th><%= t('templates.index.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @templates.each do |template| %>
      <tr>
        <td><%= template.name %></td>
        <td><%= template.description %></td>
        <td><%= template.content %></td>
        <td>
          <%= link_to t('templates.index.show'), template, class: 'btn btn-small icon-file' %>
          <%= link_to t('templates.index.edit'), edit_template_path(template), class: 'btn btn-small icon-edit' %>
          <%= link_to t('templates.index.delete'), template, method: :delete, data: { confirm: I18n.translate('shared.confirm') }, class: 'btn btn-small icon-trash' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('templates.index.new'), new_template_path %>
