<div class="panel-body">
  <div class="container">
    <div class="row">
      <button id="close_select_content_type" type="button" class="close" aria-hidden="true">&times;</button>
    </div>
    <div class="row">

      <div id="simple_page_content">
        <div class="hidden-xs hidden-sm col-md-1 col-lg-1">
          <%= image_tag 'videos_blue.png', class: 'img-rounded img-responsive' %>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
          <blockquote>
            <p>Video Clip</p>
            <small><cite title="Source Title">Gotham, United Kingdom</cite></small>
          </blockquote>
        </div>

        <div class="col-xs-3 col-sm-2 hidden-md hidden-lg">
          <%= image_tag 'videos_blue.png', class: 'img-rounded img-responsive' %>
        </div>
        <div class="col-xs-9 col-sm-10 hidden-md hidden-lg">
          <blockquote>
            <p>Video Clip</p>
          </blockquote>
        </div>
      </div>

      <div id="newsfeed_content">

        <div class="hidden-xs hidden-sm col-md-1 col-lg-1">
          <%= image_tag 'news_alt.png', class: 'img-rounded img-responsive' %>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
          <blockquote>
            <p>News Feed</p>
            <small><cite title="Source Title">Gotham, United Kingdom</cite></small>
          </blockquote>
        </div>

        <div class="col-xs-3 col-sm-2 hidden-md hidden-lg">
          <%= image_tag 'news_alt.png', class: 'img-rounded img-responsive' %>
        </div>
        <div class="col-xs-9 col-sm-10 hidden-md hidden-lg">
          <blockquote>
            <p>News Feed</p>
          </blockquote>
        </div>
      </div>

      <div id="videoclip_content">
        <div class="hidden-xs hidden-sm col-md-1 col-lg-1">
          <%= image_tag 'memo.png', class: 'img-rounded img-responsive' %>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
          <blockquote>
            <p>Free Text</p>
            <small><cite title="Source Title">A page that you can fill with some text</cite></small>
          </blockquote>
        </div>

        <div class="col-xs-3 col-sm-2 hidden-md hidden-lg">
          <%= image_tag 'memo.png', class: 'img-rounded img-responsive' %>
        </div>
        <div class="col-xs-9 col-sm-10 hidden-md hidden-lg">
          <blockquote>
            <p>Free Text</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>